:root {
    --backgroundColorLight: #F5F5F5;
    --backgroundColorDark: #ECECEC;
    --fontDark: #121C4D;
    --fontBold: #DC6420;
    --linkColor: #AAC4D3;
    --shadow: #9C9C9C;
    
    --heading: 'Poppins', sans-serif;
    --subHeading: 'Poppins', sans-serif;
    --bodyText: 'Libre Baskerville';
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--fontBold);
    font-family: var(--heading);
    font-size: 2.5rem;
    margin: 10px 0px;
}

p {
    color: var(--fontDark);
    font-family: var(--bodyText);
    font-size: 0.8rem;
}


#wrapper {
    background-color: var(--backgroundColorLight);
    margin: 80px 120px 0px 120px;
}

footer {
    display: flex;
    flex-direction: column;

    width: 100vw;
    padding: 0px 40px 0px 40px;
    margin-top: 50px;
    box-sizing: border-box;

    background-color: var(--backgroundColorDark);
    color: var(--fontDark);
}

.footerH5 {
    font-family: var(--subHeading);
    font-weight: 700;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--fontDark);
    margin-bottom: 10px;
}

.footerP {
    font-family: var(--bodyText);
    font-size: 0.8rem;
}

.footerP:hover {
    cursor: pointer;
}

.footerIMG {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footerFollowDiv {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footerFollowDiv > a {
    color: var(--fontBold);
}

footer > div {
    display: flex;
}

.topFooterDiv > div {
    flex-basis: 25%;
    padding: 10px;
}

.lowerFooterDiv > div {
    flex-grow: 1;
    padding: 10px;
    border-top: 1px solid var(--fontDark);
}

.footerDiscoverDiv > p {
    text-decoration: underline;
    color: var(--fontBold);
}

.nav {
    background-color: var(--backgroundColorLight);
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 100;
}


.navLeft {
    grid-column: 1;
}

.logotyp {
    height: 65px;
    width: 65px;
    padding: 10px 0px 0px 20px;
    transition-duration: 2s;
}




.logotyp:hover {
    transition-duration: 2s;
    cursor: pointer;
    
}





.navRight {
    grid-column: 2;
    font-family: var(--subHeading);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 50px;
}

.navRight > p {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--heading);
    font-size: 16px;
}

.navHome, .navDestinations, .navProgrammes, .navInterviews {
    color: var(--fontDark)
}

.currentPage {
   color: var(--fontBold);
}

.navRight > p:hover {
    cursor: pointer;
}

.longAd {
    height: 100px;
    width: 100%;
    margin: 20px 0px;

    background-color: var(--backgroundColorDark);
}

.smallAd {
    width: 250px;
    height: 250px;
    background-color: var(--backgroundColorDark);
}

.infoDivDestParent {
    background-color: var(--shadow);
    opacity: 0.5;

    width: 100vw;
    height: 200vh;

    position: absolute;
    top: 80px;
    left: 0;
}

.infoDivDest {
    width: 60%;
    height: 400px;
    background-color: white;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    box-shadow: 0px 0px 10px black;

    z-index: 99;
}

.closeInfoDiv {
    height: 20px;
    width: 20px;

    background-color: black;
    position: relative;
    left: calc(100% - 25px);
    top: 5px;
}