:root {
    --backgroundColorLight: #F5F5F5;
    --backgroundColorDark: #ECECEC;
    --fontDark: #121C4D;
    --fontBold: #DC6420;
    --linkColor: #AAC4D3;
    --shadow: #9C9C9C;
    
    --heading: 'Poppins', sans-serif;
    --bodyText: 'Libre Baskerville';

    --boldWeight: 700;
    --normalWeight: 500;

    --marginBase: 10px;
    --paddingBase: 10px;

    --szsXS: 12px;
    --szsS: 14px;
    --szsM: 15px;
    --szsL: 20px;
    --szsXL: 40px;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

/* PRESET STYLES FÖR TEXT */
h1 {
    color: var(--fontBold);
    font-family: var(--heading);
    font-weight: var(--boldWeight);
    font-size: var(--szsXL);
    margin: var(--marginBase) 0px;
}

h2 {
    color: var(--fontBold);
    font-family: var(--heading);
    font-weight: var(--normalWeight);
    margin: 0px 0px var(--marginBase) 0px;
    font-size: var(--szsL);
}

h3 {
    color: var(--fontDark);
    font-family: var(--bodyText);
    font-size: var(--szsM);
    font-weight: var(--normalWeight);
    margin: 0px 0px var(--marginBase) 0px;
}

h5 {
    color: var(--fontDark);
    font-family: var(--heading);
    font-weight: var(--normalWeight);
    font-size: var(--szsM);
    margin: calc(var(--marginBase) / 2) 0px;
}

p {
    color: var(--fontDark);
    font-family: var(--bodyText);
    font-size: var(--szsM);
    box-sizing: border-box;
}

/* WRAPPER */
#wrapper {
    background-color: var(--backgroundColorLight);
    margin: 0px 120px 0px 120px;


    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

}

/* STYLE AV FOOTER */
footer {
    display: flex;
    flex-direction: column;

    width: 100vw;
    padding: 0px calc(var(--paddingBase) * 4) 0px calc(var(--paddingBase) * 4);
    margin-top: calc(var(--marginBase) * 5);
    box-sizing: border-box;

    background-color: var(--backgroundColorDark);
    color: var(--fontDark);
}

.footerH5 {
    font-family: var(--heading);
    font-weight: var(--boldWeight);
    border-bottom: 1px solid var(--fontDark);
    margin-bottom: var(--marginBase);
}

.footerP {
    font-family: var(--bodyText);
    font-size: var(--szsXS);
}

.footerP:hover {
    cursor: pointer;
}

.footerIMG {
    width: 20px;
    height: 20px;
    margin-right: var(--marginBase);
}

.footerFollowDiv {
    display: flex;
    align-items: center;
    margin-bottom: var(--marginBase);
}

.footerFollowDiv > a {
    color: var(--fontBold);
}

footer > div {
    display: flex;
}

.topFooterDiv > div {
    flex-basis: 25%;
    padding: var(--paddingBase);
}

.lowerFooterDiv > div {
    flex-grow: 1;
    padding: var(--paddingBase);
    border-top: 1px solid var(--fontDark);
}

.footerDiscoverDiv > p {
    text-decoration: underline;
    color: var(--fontBold);
}

/* STYLE AV NAVIGATION */
.nav {
    background-color: var(--backgroundColorLight);
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 100;
}

.navLeft {
    grid-column: 1;
}

.logotyp {
    height: 60px;
    width: 60px;
    padding: var(--paddingBase);
    transition: transform 1s ease;
}

.logotyp:hover {
    cursor: pointer;
    transform: rotate(-45deg);
}

.navRight {
    grid-column: 2;
    font-family: var(--heading);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: calc(var(--marginBase) * 5);
}

.navRight > p {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--heading);
    font-size: 19px;
    margin: 0;
}

.navHome, .navDestinations, .navProgrammes, .navInterviews {
    color: var(--fontDark);
    height: 100%;
    transition: all, .4s;
}

.navHome:hover, .navDestinations:hover, .navProgrammes:hover, .navInterviews:hover {
    font-size: var(--szsL);
}

.currentPage {
   color: var(--fontBold);
}

.navRight > p:hover {
    cursor: pointer;
}

/* STYLE AV REKLAMUTRYMMEN */
.longAd {
    height: calc((100vw - 240px) * 0.15)  ;
    width: 100%;
    margin: calc(var(--marginBase) * 3) 0px;

    background-position: top;
    background-size: cover;
}

.longAdOne {
    background-image: url(ikoner/longAdOne.png);
}

.longAdTwo {
    background-image: url(ikoner/longAdTwo.png);
}

.smallAd, .smallAdProg {
    margin: 0;
}

/* STYLE AV DE STORA INFORMATIONS DIVARNA: PROGRAM & DESTINATION */
.infoDivDestParent {
    background-color: var(--shadow);
    opacity: 0.5;

    width: 100vw;
    height: 200vh;

    position: absolute;
    top: 80px;
    left: 0;
}

.infoDivDest {
    width: 50%;
    height: 400px;
    background-color: white;
    display: flex;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    box-shadow: 0px 0px 10px rgb(75, 75, 75);

    z-index: 99;
}

.infoDivLeft, .infoDivRight {
    width: 50%;
    height: 100%;
    padding: calc(var(--paddingBase) * 2);

    box-sizing: border-box;
}

.infoDivRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollBox {
    background-color: var(--backgroundColorDark);
    height: 90%;
    width: 90%;
    overflow-y: scroll;
    padding: var(--paddingBase);
}

.infoDivLeftInner {
    display: flex;
}

.closeInfoDiv {
    height: 20px;
    width: 20px;
    position: absolute;
    left: calc(100% - 25px);
    top: 5px;
    cursor: pointer;
    background-image: url(ikoner/close.svg);
    background-position: center;
    background-size: contain;
}

.commentParent {
    background-color: #fff;
    margin-bottom: var(--marginBase);
    padding: var(--paddingBase);
}

.commentName {
    font-family: var(--heading);
    color: var(--fontDark);
    font-size: var(--szsM);
}

.commentText {
    font-family: var(--bodyText);
    color: var(--fontDark);
    font-size: var(--szsXS);
}

.starsParent {
    position: relative;
    height: 15px;
}

.star {
    height: 15px;
    width: 15px;
    background-image: url(ikoner/star.svg);
    background-position: center;
    background-size: contain;
}

.grayStar {
    height: 15px;
    width: 15px;
    background-image: url(ikoner/star_gray.svg);
    background-position: center;
    background-size: contain;
}

.goldStarsParent, .grayStarsParent {
    display: flex;
}

.goldStarsParent {
    position: relative;
    top: -15px;
}


/* SHOW MORE KNAPP */ 
.showMore {
    width: 100%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.showMore > p {
    font-family: var(--heading);
    font-size: var(--szsM);
}

.showMoreImg {
    width: 25px;
    height: 25px;
}

/* SELECTION FÄLTEN */ 
#country, #university, #city, #language, #level, #field {
    width: 100%;
    height: 30px;
    border: 1px solid var(--fontDark);
    color: var(--fontDark);
    background-color: var(--backgroundColorLight);
    border-radius: 30px;
    padding: calc(var(--paddingBase) / 3) calc(var(--paddingBase) * 3) calc(var(--paddingBase) / 3) var(--paddingBase);
    font-family: var(--heading);
    font-size: var(--szsS);
    box-shadow: 2px 2px 2px var(--shadow);
    appearance: none;   
}

.dropdown {
    position: relative;
    width: 175px;
}

#arrow {
    background-image: url(ikoner/arrowDown.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;

    height: 25px;
    width: 25px;
    padding: calc(var(--paddingBase) / 3) var(--paddingBase) calc(var(--paddingBase) / 3) calc(var(--paddingBase) / 3);

    position: absolute;
    top: 0;
    right: 0;

    pointer-events: none;
}

#selectItem {
    color: var(--fontDark);
    background-color: var(--backgroundColorLight);
    font-size: var(--szsS);
}
