/* PARENT TILL SELECTION FÄLT */
.selectorsDiv {
    height: 50px;
    width: 100%;
}

/* SMÅ DIVARAR FÖR STÄDERNA */
.citiesWrapper {
    width: 100%;
    background-color: var(--backgroundColorLight);

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    position: relative;
}

.citiesParent, .smallAd {
    height: 300px;
    width:  calc(100% / 3 - 20px);
    box-sizing: border-box;

    margin-right: calc(var(--marginBase) * 3);
    margin-bottom: calc(var(--marginBase) * 3);

    cursor: pointer;
    box-shadow: 0px 0px 7px var(--shadow);
}


.smallAd {
    margin: 0;
    display: flex;
    box-shadow: none;
}

.innerSmallAd {
    width: 300px;
    height: 300px;
    background-image: var(--smallAd);
    background-size: cover;
}

.citiesParent:hover {
    box-shadow: 0px 0px 15px var(--shadow);
}

.citiesParent:nth-child(3n){
    margin: 0px;
}

/* INNEHÅLL I SMÅ STÄDER DIVARNA */
.cityImage {
    background-color: var(--backgroundColorDark);
    width: 100%;
    height: 100%;

    position: relative; 
}

.cityText {
    width: 80%;
    background-color: white;
    color: var(--fontBold);
    font-family: var(--heading);

    padding-left: var(--paddingBase);
    position: relative;
    bottom: 80px;

    transition: 0.5s ease;
}

.citiesParent:hover .cityText {
    color: var(--backgroundColorLight);
    background-color: var(--fontBold);
}


/* IKONER I STORA INFO-DIVEN */
.Unis {
    text-decoration: underline;
}

.flags {
    width: 20px;
    height: 15px;
    margin: 8px 8px 5px 2px;
}

.innerIcon {
    height: 20px;
    width: 20px;
    margin: calc(var(--marginBase) / 2);

    background-position: center;
    background-size: cover;
}

.iconVisum {
    background-image: url(ikoner/visum.svg);
}

.iconLanguage {
    background-image: url(ikoner/language.svg);
}

.iconBeer {
    background-image: url(ikoner/beer.svg);
}

.iconSun {
    background-image: url(ikoner/sun.svg);
}

.iconLocation {
    background-image: url(ikoner/location.svg);
}

.goToUni {
    transition: all, .3s;
}

.goToUni:hover {
    font-size: 15px;
    cursor: pointer;
}

/* FELMEDDELANDE OM INGA KOMMENTERER FINNS */
.errorComments {
    font-size: 16px;
    font-family: var(--heading);
}