.selectorsDiv {
    height: 50px;
    width: 100%;
}


.citiesWrapper {
    width: 100%;
    background-color: var(--backgroundColorLight);

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    position: relative;
}


.citiesParent {
    height: 300px;
    width:  calc(100% / 3 - 20px);
    box-sizing: border-box;

    margin-right: 27px;
    margin-bottom: 27px;

    cursor: pointer;
    box-shadow: 0px 0px 7px var(--shadow);
}

.citiesParent:nth-child(3n){
    margin: 0px;
}


.cityImage {
    background-color: var(--backgroundColorDark);
    width: 100%;
    height: 100%;

    position: relative;

    
}

.cityText {
    width: 80%;
    background-color: white;
    color: var(--fontBold);
    font-family: var(--heading);

    padding-left: 10px;
    position: relative;
    bottom: 80px;

    transition: 0.5s ease;
}

.citiesParent:hover .cityText {
    color: var(--backgroundColorLight);
    background-color: var(--fontBold);
}



.showMore {
    width: 100%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.showMore > p {
    font-family: var(--heading);
    font-size: 16px;
}

.showMoreImg {
    width: 25px;
    height: 25px;
}


#country {
    width: 100%;
    height: 30px;
    border: 1px solid #121C4D;
    color: #121C4D;
    background-color: #F5F5F5;
    border-radius: 30px;
    padding: 3px 30px 3px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    box-shadow: 2px 2px 2px rgb(177, 177, 177);
    appearance: none;

    cursor: pointer;
}

.dropdown {
    position: relative;
    width: 150px;
}

#arrow {
    background-image: url(ikoner/arrowDown.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;

    height: 25px;
    width: 25px;
    padding: 3px 10px 3px 3px;

    position: absolute;
    top: 0;
    right: 0;

    pointer-events: none;
}

#selectItem {
    color: #121C4D;
    background-color:#F5F5F5;
    font-size: 13px;
}

.Unis {
    text-decoration: underline;
}

.innerIcon {
    height: 20px;
    width: 20px;
    margin: 5px;

    background-position: center;
    background-size: cover;
}

.iconVisum {
    background-image: url(ikoner/visum.svg);
}

.iconLanguage {
    background-image: url(ikoner/language.svg);
}

.iconBeer {
    background-image: url(ikoner/beer.svg);
}

.iconSun {
    background-image: url(ikoner/sun.svg);
}

.iconLocation {
    background-image: url(ikoner/location.svg);
}