.homeHeader {
    position: relative;
    margin-bottom: -200px;
}
.homeHeaderImg {
    background-image: url(ikoner/heroBild.jpeg);
    Background-position: center;
    Background-size: cover;

    position: relative;
    top: 20px;
    left: 29.2vw;
    height: 550px;
    width: 900px;
}

.homeHeaderLeft > h1 {
    font-size: 50px;
}

.homeHeaderLeft > p {
    margin-top: 5px;
    font-size: 14px;
}

.homeHeaderLeft > button {
    height: 35px;
    width: 175px;
    border-radius: 40px;
    
    
    border: 1px solid black;
    color: var(--fontDark);
    
    font-size: 16px;
    box-shadow: 3px 3px 5px #353434;    
}

.homeHeaderLeft > :last-child{
    margin-left: 15px;
}
.homeHeaderLeft > button:hover {
    box-shadow: 4px 4px 6px #353434; 
    cursor: pointer;
}

.homeHeaderLeft {
    position: relative;
    left: 60px;
    bottom: 400px;

    color: var(--fontDark);
}

.quiz {
    font-size: 100px;
    border: 5px solid hotpink;
    box-sizing: border-box;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 50px 0px 50px 0px;
    height: 400px;
  
    font-family: var(--heading);
  }

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container {
  width: 85%;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}

.carousel-container .carousel-inner {
  overflow: hidden;
}
.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container .card-container {
  flex-shrink: 0;
  height: 250px;
  padding-right: 15px;
  box-sizing: border-box;
}

.card-container {
  width: 339.92px;
}

.carousel-container .card-container .card {
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.arrows .prev {
  left: -30px;
  display: none;
}
.arrows .prev.show {
  display: block;
}
.arrows .next {
  right: -30px;
}
.arrows .next.hide {
  display: none;
}


.card > * {
  flex: 1;
}


.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card .carouselInfo {
  flex-basis: 40px;
  color: var(--fontBold);
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carouselInfo {
  position: relative;
  bottom: 80px;
  left: 60px;
  width: 200px;
  height: 30px;
  background-color: var(--backgroundColorLight);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--heading);
  font-size: 16px;
  transition-duration: 1s;
}

.carouselInfo:hover {
  cursor: pointer;
  color: var(--backgroundColorLight);
  background-color: var(--fontBold);
  transition-duration: 1s;
}

#arrowImg1{
    background-image: url(ikoner/arrow_back.png);
    height: 100%;
    width: 100%;
}

#arrowImg2{
    background-image: url(ikoner/arrow_forward.png);
    height: 100%;
    width: 100%;
}

.card > div {
  Background-position: center;
  Background-size: cover;
}

#arrowNext {
  position: absolute;
  right: -80px;
  top: 130px;
}

#arrowPrev {
  position: absolute;
  left: -90px;
  top: 130px;
}

#arrowImg {
  height: 30px;
  width: 30px;
}

#arrowPrev, #arrowNext {
  border: 2px solid black;

  border-radius: 50%;
  height: 50px;
  width: 50px;

  box-shadow: 3px 3px 5px #353434;
}

#arrowPrev:hover, #arrowNext:hover {
  cursor: pointer;
  box-shadow: 4px 4px 6px #353434;
}

#carouselHeading {
  color: #DC6420;

  font-size: 50px;
  font-family: var(--subHeading);
  text-align: center;
}

.homeInterview {
  margin: 100px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.homeInterview > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.smallIntw {
  background-position: center;
  background-size: cover;
  height: 175px;
  width: 175px;
  border-radius: 50%;
}

.smallIntw:hover {
  cursor: pointer;
}

.intw1Small {
  background-image: url(ikoner/interviewPerson1_zoomed.jpg);
}

.intw2Small {
  background-image: url(ikoner/interviewPerson2_zoomed.jpg)
}

.intw3Small {
  background-image: url(ikoner/interviewPerson3_zoomed.jpg);
}

.intwContainer {
  color: var(--fontDark);
  font-family: var(--bodyText);
}
