/******** HEADER ********/

.homeHeader {
  position: relative;
}

.homeHeaderImg {
  background-image: url(ikoner/heroBild.jpeg);
  Background-position: center;
  Background-size: cover;

  position: relative;
  top: 20px;
  left: 29.2vw;
  height: 550px;
  width: 900px;
}

.homeHeaderLeft > h1 {
  font-size: 50px;
}


.homeHeaderLeft > button {
  height: 35px;
  width: 175px;
  border-radius: 40px;
    
  color: var(--fontDark);
  border: 1px solid var(--backgroundColorLight);
  background-color: var(--backgroundColorLight);
  transition: 1s;

  font-size: var(--szsM);
  font-family: var(--heading);
  box-shadow: 2px 2px 4px var(--shadow);    
}

.homeHeaderLeft > :last-child{
  margin-left: calc(var(--marginBase) * 1.5);
}

.homeHeaderLeft > button:hover {
  transition: 0.8s;

  background-color: var(--fontDark);
  color: var(--backgroundColorLight);
  border: 1px solid var(--fontDark);

  box-shadow: 4px 4px 6px var(--shadow); 
}

button:hover {
  cursor: pointer;
}

.homeHeaderLeft {
  position: relative;
  left: 60px;
  bottom: 400px;

  color: var(--fontDark);
}

/******** QUIZ ********/


.quizStartRight{
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--marginBase) * 4);
}

.quizStartRight > div {
  text-align: center;
}

.quizStartRight > button{
  height: 55px;
  width: 100%;
  margin-top: calc(var(--marginBase) * 5);
  border-radius: 80px;

  font-size: var(--szsL);
  font-weight: 250;
  font-family: var(--heading);

  border: 1px solid var(--backgroundColorLight);
  background-color: var(--backgroundColorLight);
  color: var(--fontDark);
  box-shadow: 3px 3px 5px #353434; 

  transition-duration: 1s;
}

.quizStartRight > button:hover {
  background-color: var(--fontDark);
  color: var(--backgroundColorLight);
  border: 1px solid var(--fontDark);

  box-shadow: 4px 4px 4px #353434;  
  transition-duration: 0.8s;
}

.quizStartRight > h3 {
  text-align: center;
}

.quizImg {
  height: 400px;
  width: 800px;
  margin-left: -20px; 

  background-image: url(ikoner/quizImage.jpeg);
  background-position: center;
  background-size: cover;
}

.startquiz {
  height: 100%;
  width: 100%;
}


.quizTitle {
  font-family: var(--heading);
  font-size: var(--szsXL);
  font-weight: bold;

  color: var(--fontBold);
}

.quiz-container {
  font-family: var(--heading);
  margin: calc(var(--marginBase) * 2);
  display: flex;
  z-index: 10;
  margin-top: -200px;
  position: relative;
}

.quiz-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.question {
  margin: var(--marginBase) 0px calc(var(--marginBase) / 2) 0px; 
  font-family: var(--subHeading);
  color:var(--fontDark);
  font-family: var(--subHeading);
}

.option {
  padding: var(--paddingBase);
  margin: calc(var(--marginBase) / 5) 0px;  

  color: var(--backgroundColorLight);
  background: #AAC4D3;

  width: 98%;
  border-radius: 5px;
  height: 30px;
  font-size: var(--szsM);

  transition: all 0.3s;
  display: inline-block;
}

.option:hover {
  background: #8ab6cf;
}

.option input:checked .option {
  background: #08038c;
  color: #000;
}

.controls > button {
  height: 30px;
  margin-top: calc(var(--marginBase) / 2);
  border-radius: 20px;
  width: 30px;

  border: 1px solid var(--backgroundColorLight);
  
  box-shadow: 1px 1px 3px #353434;
  border-radius: 50%;

  outline: none;
  transform: scale(0.98);
  transition: all 0.2s;

  background-position: center;
  background-size: cover;
}

button.previous {
  background-image: url(ikoner/arrowLeft.svg);
  margin-right: var(--marginBase); 
}

button.next {
  background-image: url(ikoner/arrowRight.svg);
}

button.quizLastButton {
  background-image: url(ikoner/check.svg);

}

.controls > button:hover{
  box-shadow: 2px 2px 4px #353434;
}


.restart {
  background-color: var(--fontBold);
  color: var(--backgroundColorLight);
  box-shadow: 2px 2px 3px #353434;

  border: 1px solid var(--fontBold);
  border-radius: 40px;
  margin: var(--marginBase) var(--marginBase) 0px 0px; 

  font-size: var(--szsL);

  height: 50px;
  width: 250px;

  transition-duration: 1s;
}

.restart:hover {
  color: var(--fontBold);
  background-color: var(--backgroundColorLight);
  border: 1px solid var(--backgroundColorLight);

  transition-duration: 1s;
  box-shadow: 3px 3px 6px #353434;
}



.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 25px;
  width: 100%;
  margin-top: calc(var(--marginBase) * 4);
}

.final-score {
  color: #00000099;
}

.quizSummary {
  display: flex;
  flex-direction: row;
}

.quizSummary > div  {
  border: 3px solid skyblue;
  font-family: var(--subHeading);

  margin: calc(var(--marginBase) / 2);
  height: 70px;
  width: 100px;

  contain: strict;
  display: flex;
  align-items: center;
  justify-content: center;
}

/******** KARUSELLEN ********/
.carousel {
  width: 100%
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.carousel-container {
  width: 85%;
  margin: calc(var(--marginBase) * 1.5) auto;
  min-height: 200px;
  position: relative;
}

.carousel-container .carousel-inner {
  overflow: hidden;
}

.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container .card-container {
  padding-right: calc(var(--paddingBase) * 1.5);
  box-sizing: border-box;
}

.card-container {
  width: 339.92px;
}

.carousel-container .card-container .card {
  height: 350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.arrows .prev {
  left: -30px;
  display: none;
}

.arrows .prev.show {
  display: block;
}

.arrows .next {
  right: -30px;
}

.arrows .next.hide {
  display: none;
}

.card > * {
  flex: 1;
}

.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .carouselInfo {
  flex-basis: 40px;
  color: var(--fontBold);
  flex-grow: 0;
  padding: var(--paddingBase);
  box-sizing: border-box;
}

.carouselInfo {
  position: relative;
  bottom: 80px;
  left: 60px;
  width: 200px;
  height: 30px;
  background-color: var(--backgroundColorLight);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--heading);
  font-size: var(--szsL);
  transition-duration: 1s;
}

.carouselInfo:hover {
  cursor: pointer;
  color: var(--backgroundColorLight);
  background-color: var(--fontBold);
  transition-duration: 1s;
}

#arrowImg1, #arrowImg2 {
  background-position: center;
  background-size: cover;
}

#arrowImg1{
  background-image: url(ikoner/carouselLeft.svg);
  height: 100%;
  width: 100%;
}

#arrowImg2{
  background-image: url(ikoner/carouselRight.svg);
  height: 100%;
  width: 100%;
}

.card > div {
  Background-position: center;
  Background-size: cover;
}

#arrowNext {
  position: absolute;
  right: -80px;
  top: 130px;
}

#arrowPrev {
  position: absolute;
  left: -90px;
  top: 130px;
}

#arrowPrev, #arrowNext {
  border: 1px solid var(--backgroundColorLight);

  border-radius: 50%;
  height: 50px;
  width: 50px;

  box-shadow: 3px 3px 5px #353434;
}

#arrowPrev:hover, #arrowNext:hover {
  cursor: pointer;
  box-shadow: 4px 4px 6px #353434;
}

.homeHeading {
  color: #DC6420;

  font-family: var(--heading);
  text-align: center;
}

/******** INTERVJU ********/

.homeInterview {
  margin: var(--marginBase) 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.homeInterview > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeInterview .smallAd {
  width: 250px;
  height: 250px;
  margin: 10px;

  background-image: var(--smallAd);
  background-position: center;
  background-size: cover;
}

.smallIntw {
  background-position: center;
  background-size: cover;
  height: 175px;
  width: 175px;
  border-radius: 50%;

  box-sizing: border-box;
  transition: box-shadow 0.5s ease-in-out;
}

.smallIntw:hover {
  cursor: pointer;
  border: 2px solid var(--fontBold);
  box-shadow:  0px 0px 7px var(--shadow);
  box-sizing: border-box;
}

.intw1Small {
  background-image: url(ikoner/interviewPerson1_zoomed.jpg);
}

.intw2Small {
  background-image: url(ikoner/interviewPerson2_zoomed.jpg)
}

.intw3Small {
  background-image: url(ikoner/interviewPerson3_zoomed.jpg);
}

.intwContainer {
  color: var(--fontDark);
  font-family: var(--bodyText);
}



