body {
    background-color: var(--backgroundColorLight);
}

h1 {
    color: var(--fontBold);
    font-family: var(--heading);
}

.interviewParent {
    width: 100%;
    display: flex;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.interviewee {
    display:flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 40px;
}

.intwOneImg, .intwTwoImg, .intwThreeImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid var(--fontBold);  
}

.intwInfo, .interviewText {
    font-size: 16px;
    font-family: var(--subHeading);
    color: var(--fontDark);
}

.interviewHeroImage {
    height: 300px;
    width: 100%;
    background-image: url(ikoner/interviewHeader.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 3px gray;
}

.intwInfo > span {
    font-weight: var(--boldWeight);
    font-family: var(--subHeading);
    color: var(--fontDark);
}

.intwOneImg {
    background-image: url(ikoner/interviewPerson2.png);
    background-position: center;

}

.intwTwoImg {
    background-image: url(ikoner/interviewPerson1.jpg);

}

.intwThreeImg {
    background-image: url(ikoner/interviewPerson3.jpg);

}

.intwText {
    flex-grow: 3;
    font-size: 14px;
    font-family: var(--bodyText);
    color: var(--fontDark);
}

.intwText > span {
    font-weight: var(--boldWeight);
}

