body {
    background-color: var(--backgroundColorLight);
}

h1 {
    color: var(--fontBold);
    font-family: var(--heading);
}

h3 {
    color: var(--fontDark);
    font-family: var(--bodyText);
    font-size: 16px;
    font-weight: var(--normalWeight);
    margin: 0px 0px 10px 0px;
}

.interviewParent {
    width: 100%;
    display: flex;
    margin-top: calc(var(--marginBase) * 3);
    background-color: white;
    padding: calc(var(--paddingBase) * 2);
    box-sizing: border-box;
}

.interviewee {
    display:flex;
    flex-direction: column;
    flex-grow: 2;
    margin: calc(var(--marginBase) * 4);
}

.intwOneImg, .intwTwoImg, .intwThreeImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid var(--fontBold);  
}

.intwInfo {
    font-size: 16px;
    font-family: var(--heading);
    color: var(--fontDark);
}

.heroImgAndSmallAd{
    display: flex;
}

.interviewHeroImage {
    height: 300px;
    flex-grow: 2;
    margin-right: 20px;
    background-image: url(ikoner/interviewHeader.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 3px gray;
}

.smallAdIntw {
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

.intwInfo > span {
    font-weight: var(--boldWeight);
    font-family: var(--subHeading);
    color: var(--fontDark);
}

.intwOneImg {
    background-image: url(ikoner/interviewPerson2.png);
    background-position: center;
}

.intwTwoImg {
    background-image: url(ikoner/interviewPerson1.jpg);
}

.intwThreeImg {
    background-image: url(ikoner/interviewPerson3.jpg);
}

.intwText {
    flex-grow: 3;
    font-size: 14px;
    font-family: var(--bodyText);
    color: var(--fontDark);
}

.intwText > span {
    font-weight: var(--boldWeight);
}

