.selectorsDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 70%;
}

#country, #university, #city, #language, #level, #field {
    width: 100%;
    height: 30px;
    border: 1px solid #121C4D;
    color: #121C4D;
    background-color: #F5F5F5;
    border-radius: 30px;
    padding: 3px 30px 3px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    box-shadow: 2px 2px 2px rgb(177, 177, 177);
    appearance: none;  
}

.dropdown {
    position: relative;
    width: 150px;
}

#arrow {
    background-image: url(ikoner/arrowDown.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;

    height: 25px;
    width: 25px;
    padding: 3px 10px 3px 3px;

    position: absolute;
    top: 0;
    right: 0;

    pointer-events: none;
}

#selectItem {
    color: #121C4D;
    background-color:#F5F5F5;
    font-size: 13px;
}

.searchButton {
    color: #FFFF;
    background-color:var(--fontBold);
    font-size: 13px;
    border: 1px solid var(--fontBold);
    font-family: 'Poppins', sans-serif ;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgb(177, 177, 177);
    transition: all, .2s;

    cursor: pointer;
}

.searchButton:hover {
    color: #fff;
    background-color: var(--fontBold);
    opacity: .8;
    box-shadow: 2px 2px 2px rgb(177, 177, 177);
}

.resetButton {
    color: var(--fontBold);
    background-color: #FFFF;
    font-size: 13px;
    border: 1px solid var(--fontBold);
    font-family: 'Poppins', sans-serif ;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgb(177, 177, 177);
    transition: all, .2s;

    cursor: pointer;

}

.programmesWrapper {
    width: 100%;
    background-color: var(--backgroundColorLight);

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.progParent {
    height: 200px;
    width: calc(100% / 3 - 20px);
    box-sizing: border-box;

    margin-right: 27px;
    margin-bottom: 27px;
    padding: 20px;
    background-color: #ffff;

    cursor: pointer;
    box-shadow: 0px 0px 7px var(--shadow);

    position: relative;
}

.progParent:nth-child(3n){
    margin: 0px;
}

.progHeadning {
    font-size: 18px;
    font-weight: var(--boldWeight);
    color: var(--fontBold);
    font-family: var(--heading);
    margin-bottom: 10px;
}

.progUniversity {
    color: var(--fontDark);
    font-family: var(--bodyText);
    display: flex;
}
.progLevel {
    color: var(--fontDark);
    font-family: var(--bodyText);
}

.progLanguage {
    color: var(--fontDark);
    font-family: var(--bodyText);
}

.uniPic, .levelPic, .langPic {
    height: 20px;
    width: 20px;
    background-size: cover;
    margin-right: 10px;
}
.uniPic {
    background-image: url(ikoner/iconLocation.png);
}

.levelPic {
    background-image: url(ikoner/iconLevel.png);
}

.langPic {
    background-image: url(ikoner/iconLanguage.png);
}

.infoParent {
    display: flex;
    margin: 5px;
}

.error {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--fontBold);
    font-family: var(--subHeading);
}

.innerIcon {
    height: 20px;
    width: 20px;
    margin: 5px 10px 5px 0px;

    background-position: center;
    background-size: cover;
}

.iconLocation {
    background-image: url(ikoner/iconLocation.png);
}

.iconLevel {
    background-image: url(ikoner/iconLevel.png);
}

.iconLanguage {
    background-image: url(ikoner/iconLanguage.png);
}

.iconEntry {
    background-image: url(ikoner/iconEntry.png);
}


.iconClass {
    background-image: url(ikoner/iconClass.png);
}

.iconInternationalStudents {
    background-image: url(ikoner/iconInternationalStudents.png);
}