/* SELCETION FÄLTEN */
.selectorsDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 60%;
}

#country, #university, #city, #language, #level, #field {
    width: 100%;
    height: 30px;
    border: 1px solid var(--fontDark);
    color: var(--fontDark);
    background-color: var(--backgroundColorLight);
    border-radius: 30px;
    padding: 3px 30px 3px 10px;
    font-family: var(--heading);
    font-size: 13px;
    box-shadow: 2px 2px 2px var(--shadow);
    appearance: none;  
}

.dropdown {
    position: relative;
    width: 150px;
}

#arrow {
    background-image: url(ikoner/arrowDown.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;

    height: 25px;
    width: 25px;
    padding: 3px 10px 3px 3px;

    position: absolute;
    top: 0;
    right: 0;

    pointer-events: none;
}

#selectItem {
    color: var(--fontDark);
    background-color: var(--backgroundColorLight);
    font-size: 13px;
}

/* PROGRAM DIVARNA */
.programmesWrapper {
    width: 100%;
    background-color: var(--backgroundColorLight);

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.progParent, .smallAdProg {
    height: 200px;
    width: calc(100% / 3 - 20px);
    box-sizing: border-box;

    margin-right: 27px;
    margin-bottom: 27px;
    padding: 20px;
    background-color: #ffff;

    cursor: pointer;
    box-shadow: 0px 0px 5px var(--shadow);

    position: relative;
    transition: all .2s;
}

.smallAdProg {margin: 0;}

.progParent:hover {
    background-color: var(--backgroundColorLight);
    box-shadow: 0px 0px 9px var(--shadow);
}

.progParent:nth-child(3n){
    margin: 0px;
}

/* FELMEDDELANDE OM INGA PROGRAM FINNS */
.error {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--fontBold);
    font-family: var(--heading);
}

/* INNEHÅLL I PRGRAM DIVARNA */
.progHeadning {
    font-size: 18px;
    font-weight: var(--boldWeight);
    color: var(--fontBold);
    font-family: var(--heading);
}

.infoParent {
    display: flex;
    margin: 5px 5px 5px 0px;
}

.progUniversity, .progLevel, .progLanguage {
    color: var(--fontDark);
    font-family: var(--heading);
}

.uniPic, .levelPic, .langPic {
    height: 20px;
    width: 20px;
    background-size: cover;
    margin-right: 10px;
}

.uniPic {
    background-image: url(ikoner/location.svg);
}

.levelPic {
    background-image: url(ikoner/educationLevel.svg);
}

.langPic {
    background-image: url(ikoner/language.svg);
}


/* IKONER I STORA INFO_DIVEN */
.innerIcon {
    height: 20px;
    width: 20px;
    margin: 5px 10px 5px 0px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.iconLocation {
    background-image: url(ikoner/location.svg);
}

.iconLevel {
    background-image: url(ikoner/educationLevel.svg);
}

.iconLanguage {
    background-image: url(ikoner/language.svg);
}

.iconEntry {
    background-image: url(ikoner/points.svg);
    background-size: 17px;
}

.iconLocalStudents {
    background-image: url(ikoner/localStudents.svg);
}

.iconInternationalStudents {
    background-image: url(ikoner/exchangeStudent.svg);
}

.entryPointsYear {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.entryPointsYear > div {
    background-color: var(--backgroundColorDark);
    margin: 3px;
    padding: 5px;
    text-align: center;
    color: var(--fontBold);
}

.entryPointsYear > div > span {
    color: var(--fontDark);
}